function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;
  while (0 !== currentIndex) {
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }
  return array;
}

var arr = ["社員1さん", "社員2さん", "社員3さん", "社員4さん", "社員5さん", "社員6さん", "社員7さん"];
arr = shuffle(arr);
console.log(arr);
